{% extends core['extended_layout_admin'] ? core['extended_layout_admin'] : 'AdminBundle:Base:layout.html.twig' %}

{% block section %}{% endblock %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{ 'sector' | trans }}
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ path('admin_default_index') }}"> <i class="ion-home"></i>  {{ 'home' | trans }}</a></li>
        <li><a href="javascript:">{{ 'dashboard' | trans }}</a></li>
        <li><a href="{{ path('ticket_sector_index') }}">{{ 'Sector' | trans }}</a></li>
        <li><a href="{{ path('ticket_sector_show', {'id': sector.id }) }}">{{ sector  }}</a></li>
      </ol>
    </section>
   
    <section class="content">
      <div class="row">
          <div class="col-md-12">
              
            {% include 'CoreBundle:Base:alert.messages.html.twig' %}
                            
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#info_tab" data-toggle="tab" aria-expanded="true">{{ 'information' | trans }}</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active show-tables" id="info_tab">
                   
                    <table class="table">
                        <tbody>                            <tr>
                                <td>Id</td>                                <td>{{ sector.id }}</td>                            </tr>                            <tr>
                                <td>Name</td>                                <td>{{ sector.name }}</td>                            </tr>                            <tr>
                                <td>Slug</td>                                <td>{{ sector.slug }}</td>                            </tr>                            <tr>
                                <td>Visible</td>                                <td>{% if sector.visible %}<span class="label label-success">{{ "yes" | trans }}</span>{% else %}<span class="label label-warning">{{ "no" | trans }}</span>{% endif %}</td>                            </tr>                            <tr>
                                <td>Active</td>                                <td>{% if sector.active %}<span class="label label-success">{{ "yes" | trans }}</span>{% else %}<span class="label label-warning">{{ "no" | trans }}</span>{% endif %}</td>                            </tr>                        </tbody>
                    </table>
                    
                    <div class="box-footer">
                        <div class="col-sm-12"> 
                            <a href="{{ path('ticket_sector_edit', {'id': sector.id }) }}" class="btn btn-primary btn-flat"><i class="ion-compose"></i> {{ 'edit.singular' | trans }}</a>
                            <button type="submit" class="btn btn-danger btn-flat pull-right" id="delete-btn">{{ 'delete' | trans }}</button>    
                            <form id="delete-entity" action="{{ path('ticket_sector_delete', { 'id': sector.id  }) }}" method="post">
                                <input type="hidden" name="_method" value="DELETE" />
                                {{ form_widget(delete_form) }}
                            </form>
                        </div>
                    </div><!-- /.box-footer -->
                </div><!-- /.tab-pane -->
              </div><!-- /.tab-content -->
            </div><!-- nav-tabs-custom -->
          </div>
      </div>
    </section>
                                
{% endblock %}
