{% extends twig_global.getParameter('extended_layout_admin') ? twig_global.getParameter('extended_layout_admin') : 'AdminBundle:Base:layout.html.twig' %}

{% block section %}tickets{% endblock %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{ 'ticket' | trans }}
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ path('admin_default_index') }}"> <i class="ion-home"></i>  {{ 'home' | trans }}</a></li>
        <li><a href="javascript:">{{ 'ticketing' | trans }}</a></li>
        <li><a href="{{ path('ticket_ticket_index') }}">{{ 'Showshassector' | trans }}</a></li>
        <li><a href="{{ path('ticket_ticket_show', {'id': ticket.id }) }}">{{ ticket  }}</a></li>
      </ol>
    </section>
   
    <section class="content">
      <div class="row">
          <div class="col-md-12">
              
            {% include 'CoreBundle:Base:alert.messages.html.twig' %}
                            
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#info_tab" data-toggle="tab" aria-expanded="true">{{ 'information' | trans }}</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active show-tables" id="info_tab">
                   
                    <table class="table">
                        <tbody>                            <tr>
                                <td>Id</td>                                <td>{{ ticket.id }}</td>                            </tr>                            <tr>
                                <td>Price</td>                                <td>{{ ticket.price }}</td>                            </tr>                            <tr>
                                <td>Priceoffer</td>                                <td>{{ ticket.priceOffer }}</td>                            </tr>                        </tbody>
                    </table>
                    
                    <div class="box-footer">
                        <div class="col-sm-12"> 
                            <a href="{{ path('ticket_ticket_edit', {'id': ticket.id }) }}" class="btn btn-primary btn-flat"><i class="ion-compose"></i> {{ 'edit' | trans }}</a>
                            <button type="submit" class="btn btn-danger btn-flat pull-right" id="delete-btn">{{ 'delete' | trans }}</button>    
                            <form id="delete-entity" action="{{ path('ticket_ticket_delete', { 'id': ticket.id  }) }}" method="post">
                                <input type="hidden" name="_method" value="DELETE" />
                                {{ form_widget(delete_form) }}
                            </form>
                        </div>
                    </div><!-- /.box-footer -->
                </div><!-- /.tab-pane -->
              </div><!-- /.tab-content -->
            </div><!-- nav-tabs-custom -->
          </div>
      </div>
    </section>
                                
{% endblock %}
